.page-header{
    text-align: center;
}
.details{
    border: 1px solid #337ab7;
    height: 21em;
    background: rgb(252, 247, 247);
    padding:1em;
    color: rgb(101, 96, 119)
}
ul li{
    text-align: center;
}
.link{
    display:block;
    margin: 0 auto;
    margin-top: 7em;
    height: 2em;
    width: 40%;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0em;
    box-sizing: border-box;
}
@keyframes move{
    0%{
        letter-spacing: 0em;
        background: #337ab7;
    }
    50%{
        letter-spacing: 0.3em;
        background: green;
    }
    100% {
         letter-spacing: 0em;
         background: #337ab7;
    }
}
.link:hover{
    animation: move 8s infinite;
}
.details p{
    font-size: 1.2em;
}