body,
html {
    padding: 0;
    margin: 0;
    background: rgb(236, 234, 234) !important;
    width: 100%;
    height: 100%;
}

.container-fluid {
    background: rgb(236, 234, 234);
    height: 70%;
}

.header {
    height: 3em;
    background: #81e6f3;
    line-height: 3em;
    font-size: 1em;
    color: white;
    text-align: center;
}

.header img {
    height: 1em;
    ;
    margin: 0 1em;
}

.header .back {
    float: left;
    margin-top: 1em;
}

.header .help {
    float: right;
    margin-top: 1em;
}

.name {
    height: 50%;
    width: 20%;
    /* margin:2% 0; */
    margin-top: 4em;
    box-shadow: slategrey 1px 1px 1px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.players {
    margin-top: 4em;
    height: 40%;
    width: 80%;
    float: left;
    box-shadow: slategrey 1px 1px 1px;
    background-color: #fff;
}

.players .killer {
    float: left;
    margin-top: 1em;
    margin-left: 2em;
}

.players .normal {
    float: right;
    margin-top: 1em;
    margin-right: 2em;
}

.killer span,
p {
    display: inline;
}

.more {
    height: 10%;
    float: left;
    width: 80%;
    ;
    box-shadow: slategrey 1px 1px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #29bde0;
    background-color: #fff;
}

.more img {
    height: 10px;
    margin-left: 5px;
}

.setWords {
    height: 25%;
    margin-top: 10px;
    width: 100%;
    float: left;
    background-color: #fff;
    box-shadow: slategrey 1px 1px 1px;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

input:-moz-placeholder {
    color: #d2d1d1;
}

::-webkit-input-placeholder {
    color: #d2d1d1;
}

.setWords input {
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 0.5em;
    outline: none;
}

.typeIn {
    margin-top: 0.5em;
    float: left;
    height: 20%;
    width: 100%;
    box-shadow: slategrey 1px 1px 1px;
    margin-top: 10ox;
    padding: 2em;
    text-align: center;
    background: white;
}

.typeIn .num {
    font-size: 1em;
    font-weight: 600;
}

.typeIn .limit {
    font-size: 0.5em;
    color: sandybrown;
}

.typeIn input {
    width: 2em;
    color: sandybrown;
    text-align: center;
}

.slide {
    height: 2em;
    width: 254px;
    margin-top: 1em;
    margin-left: 0;
    display: inline-block;
}

.control {
    height: 10%;
    width: 100%;
    text-align: center;
    float: left;
    background-color: white;
    box-shadow: slategrey 1px 1px 1px;
}

.slide .point {
    height: 14px;
    width: 14px;
    background-color: sandybrown;
    border-radius: 100%;
    position: absolute;
    top: -8px;
    left: -7px;
    touch-action:none;
}

.slide span {
    color: sandybrown;
    margin-top: 0.45em;
}

.slide .minus {
    float: left;
}

.slide .plus {
    float: right;
}

.slide .line {
    width: 210px;
    border: sandybrown solid 1px;
    float: left;
    margin-top: 1em;
    margin-left: 6px;
    position: relative;
}

.go {
    height: 3em;
    line-height: 3em;
    text-align: center;
    background: sandybrown;
}

.go p {
    color: white;
    font-size: 1.7em;
}

.new {
    border: sandybrown !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}