html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: #81e6f3;
    /* box-sizing: border-box; */
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-bottom: 0.1px solid white;
}

.header img {
    height: 1.5em;
}

.header .back {
    float: left;
    margin-top: 0.75em;
    margin-left: 1em;
}

.header p {
    display: inline;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 3px;
}

.header .close {
    float: right;
    margin-top: 0.75em;
    margin-right: 1em;
}

.content {
    margin-top: 4em;
    /* height: 30em; */
    width: 100%;
    padding-top: 2em;
    position: relative;
}

.content .number {
    height: 1.5em;
    width: 1.5em;
    background: white;
    border: 5px solid rgba(238, 238, 136, 0.726);
    border-radius: 100%;
    text-align: center;
    font-size: 1.5em;
    line-height: 1, 5em;
    color: red;
    position: absolute;
    top: 0.5em;
    left: 50%;
    margin-left: -0.75em;
}

.content .border {
    margin: 0 auto;
    height: 24em;
    background: rgba(238, 238, 136, 0.726);
    width: 60%;
    text-align: center;
    /* line-height: 37em; */
}

.border img {
    /* display: inline-block; */
    height: 28%;
    margin-top: 2.7em;
}
.border .king{
    height: 40%;
    margin-top: 8.6em;
}
.border p{
    font-size: 1.1em;
    margin: 0.7em auto;
    color:rgb(8, 126, 173);
}
.footer {
    height: 2em;
    width: 80%;
    position: fixed;
    left: 10%;
    bottom: 30px;
    text-align: center;
    /* box-sizing: border-box; */
    line-height: 2em;
    font-size: 1.6em;
    background: sandybrown;
    color: white;
}